[submodule "courses/tp1"]
	path = courses/tp1
	url = git@github.com:Iswenzz/Simplon-Tamagotchi.git
[submodule "courses/tp2"]
	path = courses/tp2
	url = git@github.com:Iswenzz/Simplon-AlloCineClone.git
[submodule "courses/tp3"]
	path = courses/tp3
	url = git@github.com:Iswenzz/Simplon-Metromobility.git
[submodule "courses/tp4"]
	path = courses/tp4
	url = git@github.com:Iswenzz/Simplon-AION-Tribute.git
